@model seamark.Models.account

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountisDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountisDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Authority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>

    </dl>
</div>
<p>
  @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
  @Html.ActionLink("Back to List", "Index") |
  <a href="/comments/Index/@Model.Id" class="btn btn-default">コメント一覧</a>
</p>
